.drink-list span{
  text-align: center;
}
.drink-list a{
  text-decoration: none;
  color: inherit;
}
.result-info{
  width: 100%;
  text-align: center;
}
.list{
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (max-width: 500px) {
  .list{
    display: flex;
    flex-direction: column;
    
  }
}