.custom-link{
  border: none;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  background: none;
  font-size: inherit;
  padding: 0;
}

.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
}