.contact {
  display:flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 5px;
  max-width: 400px;
  background-color: #EDF5E1;
 /* background-color: #7e7b7b; */
}
.my-name{
  margin: 15px auto;
}
.socials{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.socials img, .my-cv img, .my-email img{
  height: 50px;
}
.socials a{
  display: flex;
  flex-direction: column;
}
.contact-element{
  border: 1px solid #05386B;
  /* border: 1px solid #f09b9b; */
  border-radius: 10px;
    color: #05386B;
  /* color: #f09b9b; */
  padding:10px;
  margin: 10px;
}
.contact-element a{
  color: #05386B;
  /* color: #f09b9b; */
}
.my-email, .my-cv{
  display: flex;
  align-items: center;
}

.my-email p, .my-cv p {
  margin-left: 20px;
}