.navbar{
/*   background-color: #5CDB95; */
background-color: #000804;
  max-width: 1200;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container a{
text-decoration: none;
/* color: #05386B; */
color: #f09b9b; 
font-size: 24px;
}
.logo{
  height: 25px;
}
.navbar-buttons{
  display: none;
}

