.footer{
    /* background-color: #5CDB95; */
background-color: #000804;
  max-width: 1200;
  padding: 10px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer p {
  margin: 0;
}

.footer a, .footer {
  /* color: #05386B; */
color: #f09b9b; 
}